aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
Flask==1.1.1
future==0.18.2
idna==2.8
idna-ssl==1.1.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
multidict==4.7.2
pycparser==2.19
PyJWT==2.4.0
python-telegram-bot==12.2.0
pytz==2019.3
requests==2.22.0
schedule==0.6.0
six==1.13.0
slackclient==2.5.0
telepot==12.7
tornado==6.0.3
twilio==6.35.1
typing-extensions==3.7.4.1
urllib3==1.25.7
Werkzeug==0.16.0
yarl==1.4.2
